* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 20px;
}

/**
*!default value of position --> is relative; if we not mention this the position related properties are not applied even if we mention
*!like amount-cart 
* 
**/

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.cart-amount {
    position: absolute;
    background-color: red;
    color: whitesmoke;
    padding: 5px;
    border-radius: 6px;
    top: -15px;
    right: -10px;

}

/**
*! applieng style to shop class
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    justify-content: center;
    gap: 30px;
}

@media(max-width:1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media(max-width:500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid black;
    border-radius: 6px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* justify-content: space-between; */
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* margin-top: 8px; */
    align-items: center;
}

.bi-dash-lg {
    color: green;
}

.bi-plus-lg {
    color: red;
}